.hero__text_wrapper{
    max-width: 80%;
    min-height: 14vh;
}

.hero__text_font{
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Cyberpunk;
    color: #000000;
    text-shadow: 1px 1px 2px #00f0ff;
}

.hero__text_animation{
    animation: hero__text_glitch 2s 4s linear infinite;
}

@keyframes hero__text_glitch {
    0% {
        text-shadow: -4px 6px 0 red, 4px -6px 0 blue;
        transform: skew(5deg, 5deg);
      }
      2% {
        text-shadow: 4px -6px 0 red, -4px 6px 0 blue;
        transform: skew(5deg, 5deg);
      }
      4%, 100% {  text-shadow: 1px 1px 2px #00f0ff; transform: none; }
}