.hero__logo_font{
    font-size: 1em;
    font-weight: 300;
    font-family: Inter;
    color: #000000;
}

@media (max-width: 481px) {
    .hero__logo_font{
        font-size: 1.3em;
    }
}

@media (max-width: 1024px) {
    .hero__logo_font{
        font-size: 1.5em;
    }
}

@media (min-width: 1025px){
    .hero__logo_font{
        font-size: 2em;
    }
}