.hero__text_wrapper{
    max-width: 80%;
    min-height: 10vh;
}

.hero__text_font{
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Inter;
    color: #ffff;
}

.hero__text_gradient{
    transition: 1s ease;
}

.hero__text_gradient{
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    animation: hero__text_gradient 2.5s linear infinite;
    -webkit-text-fill-color: transparent;
}

@keyframes hero__text_gradient{
    to{
        background-position: 200%;
    }
}