.hero__text_wrapper{
    max-width: 80%;
    min-height: 24vh;
}

.hero__text_font{
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Cyberpunk;
    color: #000000;
    text-shadow: 1px 1px 2px #00f0ff;
}

.hero__text_animation{
    animation: hero__text_glitch 2s 4s linear infinite;
}

@keyframes hero__text_glitch {
    0% {
        text-shadow: -4px 6px 0 red, 4px -6px 0 blue;
        transform: skew(5deg, 5deg);
      }
      2% {
        text-shadow: 4px -6px 0 red, -4px 6px 0 blue;
        transform: skew(5deg, 5deg);
      }
      4%, 100% {  text-shadow: 1px 1px 2px #00f0ff; transform: none; }
}

@media (min-width: 481px) {
    .hero__text_font{
        font-size: 3.6em;
    }
    .hero__text_wrapper{
        min-height: 27vh;
    }
}

@media (min-width: 1024px) {
    .hero__text_font{
        font-size: 5em;
    }
    .hero__text_wrapper{
        min-height: 5vh;
    }
}

@media (min-width: 1600px){
    .hero__text_font{
        font-size: 5.7em;
    }
    .hero__text_wrapper{
        min-height: 15vh;
    }
}