.hero__logo_font{
    font-size: 1em;
    font-weight: 300;
    font-family: Inter;
    color: #000000;
}

.hero__logo_animation{
    
}

@keyframes hero__logo_animation {
    0%{
        display: none;
    }
}