.footer__legal{
    margin: 0;
    padding-left: 10vw;
    padding-bottom: 2vh;
}

.footer__legal_font{
    font-size: 0.8em;
    font-weight: 300;
    font-family: Inter;
    color: #00f0ff;
}

@media (max-width: 481px) {
    .footer__legal_font{
        font-size: 0.9em;
    }
}

@media (max-width: 1024px) {
    .footer__legal_font{
        font-size: 1em;
    }
}

@media (min-width: 1025px){
    .footer__legal_font{
        font-size: 1.1em;
    }
}