.footer_wrapper_gradient{
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 500%;
    animation: footer__list_gradient 10s alternate infinite;
}

@keyframes footer_wrapper_gradient{
    0%{
        background-position: left;
    }

    100%{
        background-position: right;
    }
}